.Front {
    text-align: center;}
   
    .Button {
        text-align: right}
.Search_Button{
    text-align: center;
}

.image2{
    text-align: right;
}
.Aim{
    font-size: small;
    font-weight: 100;
}
.Description{
    text-align: center;
}

nav{
    background-color: aquamarine;
    height: 40px;
    padding: 1px;
    margin-bottom: 20px;
    text-align: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    margin-right: 90px;
    color: black;
}
